/* ------- Reviews Container ------- */
.reviews {
    display: flex;
    gap: 2rem;
}

/* ------- Individual review ------- */
.review {
    width: 100%;
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 2rem;
    background-color: lightgray;
    position: relative;
}

/* ------- Star Style ------- */
.rate {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0.7rem;
}

/* ------- Star filling color ------- */
.orange {
    color: orange;
}

/* ------- Comment Style ------- */
.comment {
    text-align: justify;
}

/* ------- Author Style ------- */
.author {
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    bottom: 1rem;
    right: 2rem;
}