.reviews {
    display: flex;
    gap: 2rem;
}

.review {
    width: 100%;
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 2rem;
    background-color: lightgray;
    position: relative;
}

.rate {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0.7rem;
}

.orange {
    color: orange;
}

.comment {
    text-align: justify;
}

.author {
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    bottom: 1rem;
    right: 2rem;
}

.date {
    position: absolute;
    color: grey;
    font-size: 14px;
    bottom: 1rem;
    left: 2rem;
}